<!DOCTYPE html>
<html ng-app="ebay" ng-controller = "ebayHomeController">
  <head>
    <title>{{title}}</title>
<link href="images/favicon.jpg" rel="icon" type="image/x-icon" />
<link rel='stylesheet' href='/stylesheets/style.css' />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/ngstorage/0.3.6/ngStorage.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script src = "angularjs/ebayHomeController.js"></script>
  </head>
 <body class = "body">
<div class = "container">

		<a href="/"><img class = "logo-image" src="images/logo.jpg" height="50" width="110" /></a>

		<br><br><br>
		      <h3 style = "color:green">Sign in</h3>
	    	<div class = "signinform">
	        	<input class = "col-md-12" style = "height:40px" type="type" placeholder = "Email or username" id = "emailregister" ng-model = "username" autofocus required>
	        	<br><br><br><br>
	        	<input class = "col-md-12" style = "height:40px" type="password" placeholder = "Password" id = "passwordsignin" ng-model = "password" required>
	        	<br><br><br><br>
	        	<div class="alert alert-danger" ng-hide = "userExists">
  						<strong>{{registerPageError}}</strong> 
				</div>
	        	<button id = "signinbtn" type="button" class="btn btn-primary col-md-12" ng-click = "signIn()">Sign in</button>
		    </div>
	        
</div>	    
</body>	
