<!DOCTYPE html>
<html ng-app="ebay" ng-controller = "ebayLoginController">
  <head>
    <title>{{title}}</title>
<link href="images/favicon.jpg" rel="icon" type="image/x-icon" />
<link rel='stylesheet' href='/stylesheets/style.css' />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/ngstorage/0.3.6/ngStorage.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script src = "angularjs/ebayHomeController.js"></script>
  </head>
  <body class = "body" ng-init="initialize()">
 
    <nav class="navbar navbar-light">
    	<div class = "row">
    	  <div class = "col-md-1">Hi  <a class="dropdown-toggle" style="margin-left: -2px;" data-toggle="dropdown" href="#">
                {{user.firstname}}! </a>
            <ul class="dropdown-menu"  role="menu" aria-labelledby="dropdownMenu">
            <li class = "padding"> {{user.firstname}} {{user.lastname}}
            </li>
            <li> <a href="/myebay">{{user.handle}}</a>
            </li>
        </ul>
        </div>
               
  		  <div class = "col-md-8"><a class="nav-link" href = "/signout" ng-click = "signout()">Sign out</a></div>
  		  <div class = "col-md-3"><a class="nav-link" href = "/sellItems">Sell</a> | <a class="nav-link" href = "/myebay">My eBay</a>
  		  <a href = "/shoppingcart"><img src="images/cart.png" height="22" width="20" /></a> </div>
  		  <h6 ng-show = "showLoginTime"><label class = "padding">Last login : {{user.logintime}}<label></h6>
	</nav>
    <a href = "/"><img class = "logo-image" src="images/logo.jpg" height="50" width="110" /></a>
    
    <div id="myCarousel" class="carousel slide">
    
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="active item" data-interval="3000">
            <img src="images/Flash_image7.jpg" />
        </div>
        <div class="item" data-interval="6000">
            <img src="images/Flash_image5.jpg" />
        </div>
    </div>
    
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
	
	<br><br>
	<h3 style = "color:gray"><strong>{{listingMsg}}</strong></h3>
	<hr style="width: 100%; height: 1px; background-color:gray;" />
	<br><br>
	
   	 <div ng-repeat="item in listings">
        <div class="col-md-5 col-md-offset-1">
        	<img src="images/listing.jpg" height="300" width="300"/>
        	<h3>{{item.itemname}}</h3>
        	<label class = "listingLabel" for "quantity">{{item.quantity}} item(s)	</label> | by <label class = "listingLabel" for "sellername">{{item.sellername}}</label>
        	<button class = "btn btn-primary" ng-click = "showlisting(item)" ng-show = "item.isbidproduct == 0">Shop now</button>
        	<div class = "row" ng-show = "item.isbidproduct == 1" >
        		<input class = "form-control bidtext col-md-3 padding" type = "text" id = "bidtxt" ng-model = "bidvalue" placeholder = "Enter your bid">
        		<input type = "button" id = "bidbutton" class = "btn btn-primary" value = "Bid now" ng-click = "bidProduct(item,bidvalue)">
        		<label class = "listingLabel">Base bid amount : {{item.itemprice}}</label><br><br>
        		<div class="alert alert-danger col-md-6" ng-show="showBidError">
	        	<strong>Please provide a valid bid amount higher than the base price!</strong> 
			</div>
        	</div>
        <br><br><br>	
        </div>
     </div>

</body>
</html>